:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*Typography*/
.font-regular {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.font-medium {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
}

.font-semibold {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.font-bold {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
/*Typography End*/