.main {
  padding: 24px 32px 0 32px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tasksListSection {
  margin-top: 40px;
  margin-bottom: 64px;
  flex: 1;
}


@media (max-width: 600px) {
  .page {
    padding: 32px 32px 80px;
  }

  .main {
    align-items: center;
  }
}

